button.btn {
    transition: all .5s ease;
    background-color: #2185D0;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #1678c2;
}